[deck]
  title = "<%= config[:deck_name] %>"

  # Uncomment the lines below to override global defaults set in 
  # config/project.toml.

  #[author]
  #  name        = "Your name here"
  #  email       = "user@example.com"
  #  department  = "Department of Computer Science"
  #  institution = "Western University"